examples/all-widgets.json
[
    {
        "id": "681967b1dcbdc45d",
        "type": "fd-date-time",
        "z": "06cd0b06058d537f",
        "fd_container": "5706d648a3e5e7bf",
        "fd_cols": "2",
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Date Time",
        "popup_info": "Node-RED start time",
        "value": "1653365564",
        "color": "",
        "start_mode": 0,
        "zoom": 100,
        "low_threshold": "",
        "low_color": "blue",
        "high_threshold": "",
        "high_color": "pink",
        "chip": "false",
        "units": [
            "now",
            "sec",
            "min",
            "hr",
            "days",
            "weeks",
            "months"
        ],
        "x": 140,
        "y": 160,
        "wires": []
    },
    {
        "id": "d0ab9d5688fbd947",
        "type": "fd-gauge",
        "z": "06cd0b06058d537f",
        "fd_container": "5706d648a3e5e7bf",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Gauge",
        "popup_info": "",
        "value": "35",
        "unit": "",
        "arc": 90,
        "min": 0,
        "max": 100,
        "color": "green",
        "low_color": "blue",
        "high_color": "pink",
        "low_threshold": "",
        "high_threshold": "",
        "base_color": "lightgrey",
        "needle_color": "white",
        "radius": 70,
        "stretch": "false",
        "x": 130,
        "y": 220,
        "wires": []
    },
    {
        "id": "d2c133da1a043679",
        "type": "fd-label",
        "z": "06cd0b06058d537f",
        "fd_container": "5706d648a3e5e7bf",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Label",
        "popup_info": "",
        "label": "Score:",
        "color": "",
        "align": "center",
        "justify": "right",
        "weight": "400",
        "size": "100%",
        "padding": "4px",
        "x": 130,
        "y": 280,
        "wires": []
    },
    {
        "id": "a54978c502390e97",
        "type": "fd-iframe",
        "z": "06cd0b06058d537f",
        "fd_container": "5706d648a3e5e7bf",
        "fd_cols": 2,
        "fd_rows": 2,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "IFrame",
        "popup_info": "",
        "url": "https://user-images.githubusercontent.com/19274367/45430032-b6a5a180-b6a4-11e8-9645-a0497ef044f3.png",
        "x": 130,
        "y": 340,
        "wires": []
    },
    {
        "id": "be8061669555edeb",
        "type": "fd-markdown",
        "z": "06cd0b06058d537f",
        "fd_container": "5706d648a3e5e7bf",
        "fd_cols": "2",
        "fd_rows": "2",
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Markdown",
        "popup_info": "",
        "text": "",
        "x": 330,
        "y": 540,
        "wires": []
    },
    {
        "id": "be4d9c105d072dd7",
        "type": "fd-popup-button",
        "z": "06cd0b06058d537f",
        "fd_container": "5706d648a3e5e7bf",
        "fd_cols": 2,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Popup Button",
        "popup_info": "",
        "enabled": "true",
        "color": "primary",
        "text": "POP!",
        "icon": "party-popper",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "7dacfc1a4db7e118",
        "type": "fd-props-table",
        "z": "06cd0b06058d537f",
        "fd_container": "5706d648a3e5e7bf",
        "fd_cols": "2",
        "fd_rows": "2",
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Props Table",
        "popup_info": "",
        "data": "{\"width\":100,\"height\":133,\"name\":\"props\",\"rating\":\"cool\"}",
        "editable": "true",
        "fields": "[\"name\",\"height\",\"width\",\"rating\"]",
        "send_all": "false",
        "x": 330,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "f76e1b7cb09977f8",
        "type": "fd-push-button",
        "z": "06cd0b06058d537f",
        "fd_container": "5706d648a3e5e7bf",
        "fd_cols": 2,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Push Button",
        "popup_info": "",
        "enabled": "true",
        "color": "primary",
        "output_value": 25,
        "icon": "",
        "x": 570,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "cf38127b0f1242b4",
        "type": "fd-simple-table",
        "z": "06cd0b06058d537f",
        "fd_container": "5706d648a3e5e7bf",
        "fd_cols": "2",
        "fd_rows": "2",
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Simple Table",
        "popup_info": "",
        "data": "",
        "columns": "null",
        "labels": "[\"Name\",\"Age\",\"Score\"]",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "0da53c03d6fb7619",
        "type": "fd-spark-line",
        "z": "06cd0b06058d537f",
        "fd_container": "5706d648a3e5e7bf",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Spark Line",
        "popup_info": "",
        "value": "[1,2,3,4,3,4,2,5,8,3,4,6,1,5]",
        "color": "blue",
        "fill_color": "",
        "text_color": "",
        "show_value": "true",
        "unit": "",
        "x": 710,
        "y": 480,
        "wires": []
    },
    {
        "id": "b6f62cfad74e1451",
        "type": "fd-text-view",
        "z": "06cd0b06058d537f",
        "fd_container": "5706d648a3e5e7bf",
        "fd_cols": "4",
        "fd_rows": "1",
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Text View",
        "popup_info": "",
        "text": "",
        "editable": "false",
        "x": 320,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "b9a21c19a0c7c362",
        "type": "fd-toggle",
        "z": "06cd0b06058d537f",
        "fd_container": "5706d648a3e5e7bf",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Toggle",
        "popup_info": "",
        "value": "yay!",
        "enabled": "true",
        "color": "primary",
        "on_value": "yay!",
        "off_value": "nay",
        "show_value": "true",
        "x": 310,
        "y": 220,
        "wires": [
            [
                "99f15a7f02dade6e"
            ]
        ]
    },
    {
        "id": "5535e621ade0e3e0",
        "type": "fd-value-sequence",
        "z": "06cd0b06058d537f",
        "fd_container": "5706d648a3e5e7bf",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Value Sequence",
        "popup_info": "",
        "range": [
            "off",
            10,
            "...10",
            100
        ],
        "value": 10,
        "unit": "",
        "label": "",
        "label_above": "false",
        "x": 580,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c8d25a6f5bc9242d",
        "type": "fd-wind-plot",
        "z": "06cd0b06058d537f",
        "fd_container": "5706d648a3e5e7bf",
        "fd_cols": "4",
        "fd_rows": "4",
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Wind Plot",
        "popup_info": "",
        "data": "",
        "colors": [],
        "widths": [],
        "unit": "",
        "x": 320,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "1d235058a33a5e73",
        "type": "fd-stat",
        "z": "06cd0b06058d537f",
        "fd_container": "5706d648a3e5e7bf",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Stat",
        "popup_info": "",
        "unit": "°F",
        "value": "35",
        "color": "",
        "low_color": "blue",
        "high_color": "pink",
        "low_threshold": "",
        "high_threshold": "",
        "low_regexp": "",
        "high_regexp": "",
        "chip": "false",
        "iso_prefix": "true",
        "zoom": 1,
        "x": 310,
        "y": 160,
        "wires": []
    },
    {
        "id": "9c0c7165cb86de68",
        "type": "fd-time-plot",
        "z": "06cd0b06058d537f",
        "fd_container": "5706d648a3e5e7bf",
        "fd_cols": "4",
        "fd_rows": "4",
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Time Plot",
        "popup_info": "",
        "data": "",
        "labels": [],
        "colors": [],
        "axes": [],
        "widths": [],
        "span_gaps": [],
        "left_unit": "",
        "right_unit": "",
        "left_min": "",
        "left_max": "",
        "left_decimals": 1,
        "right_min": "",
        "right_max": "",
        "right_decimals": 1,
        "reverse_legend": "",
        "x": 320,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "cd91fd9d0d703667",
        "type": "inject",
        "z": "06cd0b06058d537f",
        "name": "sample plot",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "widths",
                "v": "[1,1,1,1,2,3]",
                "vt": "json"
            },
            {
                "p": "span_gaps",
                "v": "[true,true,true,true,false,false]",
                "vt": "json"
            },
            {
                "p": "colors",
                "v": "[\"teal\",\"cyan\",\"green\",\"blue\",\"yellow\",\"red\"]",
                "vt": "json"
            },
            {
                "p": "labels",
                "v": "[\"gfs\",\"ecmwf\",\"pwg\",\"pwe\",\"yesterday\",\"today\"]",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[[1658278800,null,null,null,null,87.61600036621094,90.14000053405762],[1658279400,null,null,null,null,88.44979976654054,89.54600048065186],[1658280000,null,null,null,null,90.00500137329104,88.1060001373291],[1658280600,null,null,null,null,90.0950006866455,87.01160015106203],[1658281200,null,null,null,null,89.43439964294433,86.40319995880127],[1658281800,null,null,null,null,90.02659980773925,85.52120002746581],[1658282400,83.00000114440918,86.99999961853027,79.99999885559082,64.0000015258789,87.97279914855957,84.38720016479492],[1658283000,null,null,null,null,84.74359973907471,83.13259994506836],[1658283600,null,null,null,null,83.3378005218506,82.47920009613037],[1658284200,null,null,null,null,82.40719982147218,81.85100013732912],[1658284800,null,null,null,null,81.52520023345946,81.0824003982544],[1658285400,null,null,null,null,80.65039943695068,80.35519954681396],[1658286000,74.00000114440918,83.00000114440918,82.0000015258789,69.99999923706055,79.81880031585692,79.63339984893797],[1658286600,null,null,null,null,79.0645998764038,78.97460021972655],[1658287200,null,null,null,null,78.42920009613037,78.30139991760254],[1658287800,null,null,null,null,77.91619968414307,77.67139991760254],[1658288400,null,null,null,null,77.53819995880127,77.01259994506835],[1658289000,null,null,null,null,77.14939998626708,76.46360008239745],[1658289600,70.99999885559082,80.9999984741211,79.99999885559082,68,76.66879997253417,76.02259994506835],[1658290200,null,null,null,null,76.22960021972656,75.62660015106202],[1658290800,null,null,null,null,75.97219982147217,75.3835997390747],[1658291400,null,null,null,null,75.80300006866455,75.14779983520508],[1658292000,null,null,null,null,75.61759994506838,75.23779949188233],[1658292600,null,null,null,null,75.45199993133545,75.15500034332275],[1658293200,70.99999885559082,78.99999923706055,77,67.00000038146973,75.22519989013672,74.74279949188232],[1658293800,null,null,null,null,74.7860001373291,74.81660049438479],[1658294400,null,null,null,null,74.52860008239747,74.96960021972656],[1658295000,null,null,null,null,74.64560035705567,75.16759960174561],[1658295600,null,null,null,null,75.52940032958985,75.56360008239746],[1658296200,null,null,null,null,75.79579990386964,76.25479976654051],[1658296800,73.0000015258789,76.00000038146973,76.00000038146973,69.99999923706055,75.77959953308104,76.05859973907471],[1658297400,null,null,null,null,75.80300006866456,76.06580059051512],[1658298000,null,null,null,null,75.71660049438475,76.23319961547851],[1658298600,null,null,null,null,75.59780017852783,76.34840019226074],[1658299200,null,null,null,null,75.38899951934815,76.48700027465821],[1658299800,null,null,null,null,75.14600001248446,76.46179969787597],[1658300400,74.00000114440918,75.00000076293945,76.00000038146973,70.99999885559082,74.92459987640379,76.683200302124],[1658301000,null,null,null,null,75.08840019226074,77.48420009613037],[1658301600,null,null,null,null,75.22879997253418,78.59479976654053],[1658302200,null,null,null,null,75.81199993133545,79.04839984893799],[1658302800,null,null,null,null,75.97760063171387,79.28779983520506],[1658303400,null,null,null,null,75.81379962921142,79.35440032958982],[1658304000,74.00000114440918,74.00000114440918,74.00000114440918,67.00000038146973,75.26120037078857,79.17079990386962],[1658304600,null,null,null,null,74.91379997253418,78.9008002471924],[1658305200,null,null,null,null,74.56279983520508,78.69199993133545],[1658305800,null,null,null,null,74.05879962921142,77.53460056304932],[1658306400,null,null,null,null,73.0670002746582,77.13500034332276],[1658307000,null,null,null,null,71.9960001373291,77.653399848938],[1658307600,74.00000114440918,74.00000114440918,73.0000015258789,59.999999618530275,72.31639991760252,77.5543999862671],[1658308200,null,null,null,null,73.38020023345948,77.33120002746581],[1658308800,null,null,null,null,73.81939998626709,76.42939964294433],[1658309400,null,null,null,null,73.60880031585694,76.54999999999998],[1658310000,null,null,null,null,73.38379997253419,77.14580024719238],[1658310600,null,null,null,null,73.46480010986328,77.12780017852783],[1658311200,73.0000015258789,76.00000038146973,69.99999923706055,54.000000190734866,74.01559967041015,76.36460021972655],[1658311800,null,null,null,null,74.33420009613037,75.84620071411133],[1658312400,null,null,null,null,74.61319961547852,75.29540012359618],[1658313000,null,null,null,null,74.70680004119873,74.12719982147217],[1658313600,null,null,null,null,74.27480010986326,73.01119968414307],[1658314200,null,null,null,null,73.48279983520507,71.4614002609253],[1658314800,71.9999984741211,75.00000076293945,68,50.999999618530275,72.87620002746583,69.90620002746581],[1658315400,null,null,null,null,73.28119968414306,69.46879928588866],[1658316000,null,null,null,null,74.56099945068358,69.87920009613036],[1658316600,null,null,null,null,75.05780017852783,69.6793999862671],[1658317200,null,null,null,null,74.70319961547851,69.13219982147216],[1658317800,null,null,null,null,74.17759994506837,69.76040046691895],[1658318400,71.9999984741211,75.00000076293945,54.999999809265134,43.00000009536743,73.38200027465821,71.10320030212402],[1658319000,null,null,null,null,72.8726002883911,71.97620002746582],[1658319600,null,null,null,null,73.20560035705567,72.24800006866455],[1658320200,null,null,null,null,73.01300006866454,71.85920009613038],[1658320800,null,null,null,null,72.66560035705565,71.91499999999999],[1658321400,null,null,null,null,72.566600151062,72.9769995880127],[1658322000,70.99999885559082,73.0000015258789,54.999999809265134,45.000000190734866,72.91219982147216,74.3989998626709],[1658322600,null,null,null,null,72.82219947814941,74.13800006866454],[1658323200,null,null,null,null,72.96079990386963,72.43519989013672],[1658323800,null,null,null,null,73.12099979400634,72.07159946441651],[1658324400,null,null,null,null,74.17760063171387,74.54479976654054],[1658325000,null,null,null,null,74.1470002746582,75.02899951934816],[1658325600,74.00000114440918,71.9999984741211,73.0000015258789,68.99999961853027,74.79679935455322,73.54579990386964],[1658326200,null,null,null,null,76.74979976654052,72.88519989013673],[1658326800,null,null,null,null,78.6235997390747,72.49819961547851],[1658327400,null,null,null,null,79.46419975280762,72.31279914855956],[1658328000,null,null,null,null,79.96999965667723,72.5395998764038],[1658328600,null,null,null,null,81.76819995880126,73.45579956054688],[1658329200,82.0000015258789,77,74.00000114440918,69.99999923706055,82.84279983520508,74.52680038452148],[1658329800,null,null,null,null,83.43319927215576,73.99579956054687],[1658330400,null,null,null,null,83.2604001235962,73.10120002746581],[1658331000,null,null,null,null,80.1860001373291,73.14259960174562],[1658331600,null,null,null,null,77.99000034332275,74.00120037078857],[1658332200,null,null,null,null,78.8108002471924,74.37199993133545],[1658332800,86.99999961853027,78.99999923706055,75.00000076293945,73.0000015258789,81.40100013732909,73.38199958801269],[1658333400,null,null,null,null,81.9410001373291,72.90139991760255],[1658334000,null,null,null,null,80.02400020599366,73.36759960174561],[1658334600,null,null,null,null,79.62259994506837,74.43860008239747],[1658335200,null,null,null,null,81.08060035705566,75.718399848938],[1658335800,null,null,null,null,81.92299972534181,76.69579990386963],[1658336400,88.99999885559082,82.0000015258789,77,76.00000038146973,81.30020023345948,75.27739971160891],[1658337000,null,null,null,null,80.938399848938,74.84000034332276],[1658337600,null,null,null,null,81.68900020599365,75.19459987640381],[1658338200,null,null,null,null,82.63400020599366,76.18099979400634],[1658338800,null,null,null,null,82.23800075531007,78.35360008239745],[1658339400,null,null,null,null,82.57459987640382,78.6595998764038],[1658340000,89.9999984741211,86,77.99999961853027,77,82.38019954681396,78.53540012359619],[1658340600,null,null,null,null,84.54740005493164,78.46159980773925],[1658341200,null,null,null,null,85.50499965667724,77.16920009613038],[1658341800,null,null,null,null,84.03800006866456,76.4023997116089],[1658342400,null,null,null,null,83.22620002746581,77.44279983520508],[1658343000,null,null,null,null,83.73379997253419,79.14019954681396],[1658343600,91.99999771118163,87.99999923706055,79.99999885559082,78.99999923706055,83.35579990386962,79.37240005493166],[1658344200,null,null,null,null,82.82839984893799,77.84960021972655],[1658344800,null,null,null,null,83.02820030212402,77.66060035705566],[1658345400,null,null,null,null,84.51679935455323,77.66600048065187],[1658346000,null,null,null,null,83.38280017852783,78.55339950561525],[1658346600,null,null,null,null,82.79419940948488,78.47060070037841],[1658347200,93.99999694824218,88.99999885559082,80.9999984741211,80.9999984741211,81.36139991760254,78.39500034332275],[1658347800,null,null,null,null,80.73679969787597,79.09880031585693],[1658348400,null,null,null,null,82.00000038146972,78.60379997253418],[1658349000,null,null,null,null,82.07239936828613,79.77019989013671],[1658349600,null,null,null,null,83.34500034332277,80.03839984893798],[1658350200,null,null,null,null,85.3196005630493,79.25000000000001],[1658350800,95,91.0000015258789,82.0000015258789,82.0000015258789,84.86419940948487,80.3048001098633],[1658351400,null,null,null,null,81.79879997253417,80.20580024719239],[1658352000,null,null,null,null,82.27580059051513,79.53620002746582],[1658352600,null,null,null,null,82.6843999862671,80.70079990386962],[1658353200,null,null,null,null,81.19219982147217,81.08059967041015],[1658353800,null,null,null,null,82.02919975280761,81.52160015106202],[1658354400,95,91.0000015258789,82.0000015258789,82.0000015258789,81.5720002746582,81.75919975280763],[1658355000,null,null,null,null,81.04820064544678,81.10580024719238],[1658355600,null,null,null,null,80.96179969787597,79.28240005493164],[1658356200,null,null,null,null,82.20199993133544,79.14919975280762],[1658356800,null,null,null,null,82.3243999862671,80.02759994506836],[1658357400,null,null,null,null,82.01479976654052,81.57920009613038],[1658358000,93.00000076293945,89.9999984741211,83.00000114440918,82.0000015258789,82.63759994506835,82.32439964294433],[1658358600,null,null,null,null,82.92919940948485,82.92200050354005],[1658359200,null,null,null,null,83.59879997253418,82.95620002746581],[1658359800,null,null,null,null,84.24139991760255,82.83919975280762],[1658360400,null,null,null,null,84.74180004119873,82.69880031585691],[1658361000,null,null,null,null,84.63919975280761,82.63580024719239],[1658361600,89.9999984741211,89.9999984741211,82.0000015258789,82.0000015258789,84.66620002746582,83.44579990386964],[1658362200,null,null,null,null,85.76419940948486,83.35000000000001],[1658362800,null,null,null,null,86.68939998626708,83.17219982147216],[1658363400,null,null,null,null,87.31400020599366,84.18020023345947],[1658364000,null,null,null,null,90.34880065917967,85.04960021972656],[1658364600,null,null,null,null,90.29300041198731,84.98119968414305],[1658365200,86.99999961853027,87.99999923706055,83.00000114440918,83.00000114440918,90.17240039825438,85.17200164794922],[1658365800,null,null,null,null,89.54600048065186,null],[1658366400,null,null,null,null,88.1060001373291,null],[1658367000,null,null,null,null,87.01160015106203,null],[1658367600,null,null,null,null,86.40319995880127,null],[1658368200,null,null,null,null,85.52120002746581,null],[1658368800,82.0000015258789,86,80.9999984741211,80.9999984741211,84.38720016479492,null],[1658369400,null,null,null,null,83.13259994506836,null],[1658370000,null,null,null,null,82.47920009613037,null],[1658370600,null,null,null,null,81.85100013732912,null],[1658371200,null,null,null,null,81.0824003982544,null],[1658371800,null,null,null,null,80.35519954681396,null],[1658372400,74.00000114440918,80.9999984741211,64.0000015258789,65.00000114440918,79.63339984893797,null],[1658373000,null,null,null,null,78.97460021972655,null],[1658373600,null,null,null,null,78.30139991760254,null],[1658374200,null,null,null,null,77.67139991760254,null],[1658374800,null,null,null,null,77.01259994506835,null],[1658375400,null,null,null,null,76.46360008239745,null],[1658376000,71.9999984741211,77.99999961853027,65.00000114440918,67.00000038146973,76.02259994506835,null],[1658376600,null,null,null,null,75.62660015106202,null],[1658377200,null,null,null,null,75.3835997390747,null],[1658377800,null,null,null,null,75.14779983520508,null],[1658378400,null,null,null,null,75.23779949188233,null],[1658379000,null,null,null,null,75.15500034332275,null],[1658379600,73.0000015258789,76.00000038146973,66.00000076293945,73.0000015258789,74.74279949188232,null],[1658380200,null,null,null,null,74.81660049438479,null],[1658380800,null,null,null,null,74.96960021972656,null],[1658381400,null,null,null,null,75.16759960174561,null],[1658382000,null,null,null,null,75.56360008239746,null],[1658382600,null,null,null,null,76.25479976654051,null],[1658383200,73.0000015258789,74.00000114440918,73.0000015258789,76.00000038146973,76.05859973907471,null],[1658383800,null,null,null,null,76.06580059051512,null],[1658384400,null,null,null,null,76.23319961547851,null],[1658385000,null,null,null,null,76.34840019226074,null],[1658385600,null,null,null,null,76.48700027465821,null],[1658386200,null,null,null,null,76.46179969787597,null],[1658386800,71.9999984741211,73.0000015258789,76.00000038146973,77,76.683200302124,null],[1658387400,null,null,null,null,77.48420009613037,null],[1658388000,null,null,null,null,78.59479976654053,null],[1658388600,null,null,null,null,79.04839984893799,null],[1658389200,null,null,null,null,79.28779983520506,null],[1658389800,null,null,null,null,79.35440032958982,null],[1658390400,70.99999885559082,70.99999885559082,71.9999984741211,68.99999961853027,79.17079990386962,null],[1658391000,null,null,null,null,78.9008002471924,null],[1658391600,null,null,null,null,78.69199993133545,null],[1658392200,null,null,null,null,77.53460056304932,null],[1658392800,null,null,null,null,77.13500034332276,null],[1658393400,null,null,null,null,77.653399848938,null],[1658394000,71.9999984741211,70.99999885559082,68.99999961853027,62.99999847412109,77.5543999862671,null],[1658394600,null,null,null,null,77.33120002746581,null],[1658395200,null,null,null,null,76.42939964294433,null],[1658395800,null,null,null,null,76.54999999999998,null],[1658396400,null,null,null,null,77.14580024719238,null],[1658397000,null,null,null,null,77.12780017852783,null],[1658397600,71.9999984741211,70.99999885559082,67.00000038146973,61.99999885559082,76.36460021972655,null],[1658398200,null,null,null,null,75.84620071411133,null],[1658398800,null,null,null,null,75.29540012359618,null],[1658399400,null,null,null,null,74.12719982147217,null],[1658400000,null,null,null,null,73.01119968414307,null],[1658400600,null,null,null,null,71.4614002609253,null],[1658401200,71.9999984741211,70.99999885559082,61.99999885559082,59.999999618530275,69.90620002746581,null],[1658401800,null,null,null,null,69.46879928588866,null],[1658402400,null,null,null,null,69.87920009613036,null],[1658403000,null,null,null,null,69.6793999862671,null],[1658403600,null,null,null,null,69.13219982147216,null],[1658404200,null,null,null,null,69.76040046691895,null],[1658404800,71.9999984741211,71.9999984741211,68.99999961853027,61.99999885559082,71.10320030212402,null],[1658405400,null,null,null,null,71.97620002746582,null],[1658406000,null,null,null,null,72.24800006866455,null],[1658406600,null,null,null,null,71.85920009613038,null],[1658407200,null,null,null,null,71.91499999999999,null],[1658407800,null,null,null,null,72.9769995880127,null],[1658408400,70.99999885559082,70.99999885559082,67.00000038146973,60.99999923706055,74.3989998626709,null],[1658409000,null,null,null,null,74.13800006866454,null],[1658409600,null,null,null,null,72.43519989013672,null],[1658410200,null,null,null,null,72.07159946441651,null],[1658410800,null,null,null,null,74.54479976654054,null],[1658411400,null,null,null,null,75.02899951934816,null],[1658412000,75.00000076293945,71.9999984741211,71.9999984741211,70.99999885559082,73.54579990386964,null],[1658412600,null,null,null,null,72.88519989013673,null],[1658413200,null,null,null,null,72.49819961547851,null],[1658413800,null,null,null,null,72.31279914855956,null],[1658414400,null,null,null,null,72.5395998764038,null],[1658415000,null,null,null,null,73.45579956054688,null],[1658415600,82.0000015258789,77.99999961853027,73.0000015258789,71.9999984741211,74.52680038452148,null],[1658416200,null,null,null,null,73.99579956054687,null],[1658416800,null,null,null,null,73.10120002746581,null],[1658417400,null,null,null,null,73.14259960174562,null],[1658418000,null,null,null,null,74.00120037078857,null],[1658418600,null,null,null,null,74.37199993133545,null],[1658419200,86.99999961853027,82.0000015258789,76.00000038146973,75.00000076293945,73.38199958801269,null],[1658419800,null,null,null,null,72.90139991760255,null],[1658420400,null,null,null,null,73.36759960174561,null],[1658421000,null,null,null,null,74.43860008239747,null],[1658421600,null,null,null,null,75.718399848938,null],[1658422200,null,null,null,null,76.69579990386963,null],[1658422800,91.0000015258789,85.00000038146973,77.99999961853027,77.99999961853027,75.27739971160891,null],[1658423400,null,null,null,null,74.84000034332276,null],[1658424000,null,null,null,null,75.19459987640381,null],[1658424600,null,null,null,null,76.18099979400634,null],[1658425200,null,null,null,null,78.35360008239745,null],[1658425800,null,null,null,null,78.6595998764038,null],[1658426400,93.99999694824218,86.99999961853027,80.9999984741211,79.99999885559082,78.53540012359619,null],[1658427000,null,null,null,null,78.46159980773925,null],[1658427600,null,null,null,null,77.16920009613038,null],[1658428200,null,null,null,null,76.4023997116089,null],[1658428800,null,null,null,null,77.44279983520508,null],[1658429400,null,null,null,null,79.14019954681396,null],[1658430000,96.00000305175782,89.9999984741211,85.00000038146973,82.0000015258789,79.37240005493166,null],[1658430600,null,null,null,null,77.84960021972655,null],[1658431200,null,null,null,null,77.66060035705566,null],[1658431800,null,null,null,null,77.66600048065187,null],[1658432400,null,null,null,null,78.55339950561525,null],[1658433000,null,null,null,null,78.47060070037841,null],[1658433600,96.99999923706055,91.99999771118163,86,84.00000076293945,78.39500034332275,null],[1658434200,null,null,null,null,79.09880031585693,null],[1658434800,null,null,null,null,78.60379997253418,null],[1658435400,null,null,null,null,79.77019989013671,null],[1658436000,null,null,null,null,80.03839984893798,null],[1658436600,null,null,null,null,79.25000000000001,null],[1658437200,96.99999923706055,93.99999694824218,86.99999961853027,86,80.3048001098633,null],[1658437800,null,null,null,null,80.20580024719239,null],[1658438400,null,null,null,null,79.53620002746582,null],[1658439000,null,null,null,null,80.70079990386962,null],[1658439600,null,null,null,null,81.08059967041015,null],[1658440200,null,null,null,null,81.52160015106202,null],[1658440800,96.00000305175782,95,87.99999923706055,86,81.75919975280763,null],[1658441400,null,null,null,null,81.10580024719238,null],[1658442000,null,null,null,null,79.28240005493164,null],[1658442600,null,null,null,null,79.14919975280762,null],[1658443200,null,null,null,null,80.02759994506836,null],[1658443800,null,null,null,null,81.57920009613038,null],[1658444400,95,95,88.99999885559082,86.99999961853027,82.32439964294433,null],[1658445000,null,null,null,null,82.92200050354005,null],[1658445600,null,null,null,null,82.95620002746581,null],[1658446200,null,null,null,null,82.83919975280762,null],[1658446800,null,null,null,null,82.69880031585691,null],[1658447400,null,null,null,null,82.63580024719239,null],[1658448000,93.00000076293945,93.99999694824218,91.0000015258789,89.9999984741211,83.44579990386964,null],[1658448600,null,null,null,null,83.35000000000001,null],[1658449200,null,null,null,null,83.17219982147216,null],[1658449800,null,null,null,null,84.18020023345947,null],[1658450400,null,null,null,null,85.04960021972656,null],[1658451000,null,null,null,null,84.98119968414305,null]]",
        "payloadType": "json",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "9c0c7165cb86de68"
            ]
        ]
    },
    {
        "id": "fce56cf0b01a94f5",
        "type": "inject",
        "z": "06cd0b06058d537f",
        "name": "wind sample",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[[1658278800,360,7.3334206693172455,10.822818935871124],[1658279100,337.5,5.883512712764739,8.823762270307542],[1658279400,315,5.81683931748867,8.489811017370224],[1658279700,337.5,6.249974916028977,9.15782669849396],[1658280000,315,9.483824643468857,14.477184581565856],[1658280300,315,10.550369844007491,15.799610593509675],[1658280600,315,10.40027012987137,13.818909545326232],[1658280900,337.5,7.808557245492937,11.655510364532471],[1658281200,315,10.79200604095459,14.820102599620819],[1658281500,337.5,9.991882416915894,14.149259030628205],[1658281800,315,11.833630712985993,15.319450785636903],[1658282100,337.5,9.875288443279267,14.309966817665103],[1658282400,315,11.59195280866623,14.652709686088562],[1658282700,337.5,13.850436478996276,18.154027407741545],[1658283000,337.5,11.200360046672822,16.483764681148532],[1658283300,337.5,13.033672786617279,17.142927625751497],[1658283600,337.5,11.875276857948304,17.318839936828617],[1658283900,315,11.900367202663421,15.145911208057404],[1658284200,337.5,11.90863720932007,15.81996272468567],[1658284500,337.5,13.567547210407259,17.652959085941312],[1658284800,337.5,12.391693706226349,16.09111163454056],[1658285100,337.5,13.041688922309877,17.484402419376373],[1658285400,315,11.667410299301148,16.317426932144166],[1658285700,337.5,13.500257111358644,17.473950189113616],[1658286000,337.5,14.442158281993866,17.983529161643983],[1658286300,337.5,13.65031831817627,16.820322911548615],[1658286600,337.5,13.500449114608767,16.65498421945572],[1658286900,337.5,13.441705720233918,16.651325490856173],[1658287200,337.5,13.700472553825378,16.652765088558198],[1658287500,337.5,13.425229921340943,16.82026915063858],[1658287800,337.5,13.309120649242402,17.31850819787979],[1658288100,337.5,14.100494045162202,16.98466532011032],[1658288400,315,14.083679467201232,17.309874451732632],[1658288700,337.5,14.575409604263305,17.9858588010788],[1658289000,315,15.092127257633212,18.123477130603792],[1658289300,337.5,15.216999984741213,19.47561436548233],[1658289600,337.5,16.117163488864897,20.97188481349945],[1658289900,337.5,14.808665392684938,18.485871745014194],[1658290200,337.5,14.433784166908264,18.122289483833313],[1658290500,337.5,13.883697842025757,17.317841093254092],[1658290800,315,14.408696168899535,17.65268345460892],[1658291100,315,14.458746936130524,17.987467148303985],[1658291400,315,15.475513800716403,18.98655158023835],[1658291700,337.5,14.492108354187014,18.43735700378418],[1658292000,315,16.583797521114352,20.647886582374575],[1658292300,315,16.43383679599762,19.98608167304993],[1658292600,315,16.11760786972046,19.654013331985475],[1658292900,315,13.166665757846834,17.31436668777466],[1658293200,315,15.04139082546234,18.747817299079895],[1658293500,337.5,15.500984098529818,19.47323267183304],[1658293800,337.5,16.61718091287613,20.458587591361997],[1658294100,337.5,17.258882868576052,21.81480382862091],[1658294400,337.5,16.883413472843166,21.486065677261355],[1658294700,337.5,17.984861664199833,20.972773575210574],[1658295000,337.5,16.242091256904605,19.81791071968079],[1658295300,337.5,16.566749765872956,20.14002689228058],[1658295600,337.5,16.63333051958084,20.1510867061615],[1658295900,337.5,16.217568601799012,19.650186920547487],[1658296200,337.5,15.950487174129488,19.318340236568453],[1658296500,337.5,15.76713708381653,19.05501460580826],[1658296800,337.5,15.833832612800597,19.818077122497563],[1658297100,337.5,15.44993235435486,19.30944216594696],[1658297400,337.5,15.142090343379977,18.651100995254517],[1658297700,337.5,14.550842575073244,17.654234414196015],[1658298000,337.5,14.400920037269591,17.65295929927826],[1658298300,337.5,14.341708368301392,17.821960133361817],[1658298600,337.5,12.500215009880067,15.48806313314438],[1658298900,337.5,12.77282805118561,16.1462950753212],[1658299200,337.5,10.969170639896394,14.653374870681763],[1658299500,337.5,10.866983523464203,13.814547658157352],[1658299800,337.5,9.708567861127854,13.32211201581955],[1658300100,337.5,10.383587074136734,13.989130026721956],[1658300400,337.5,11.441991870212558,15.142938784408567],[1658300700,337.5,10.241918542718887,13.81515929517746],[1658301000,337.5,10.192007191181183,13.323997487735749],[1658301300,337.5,10.000275412321091,12.808508441829684],[1658301600,337.5,10.349927944374084,13.821736899852755],[1658301900,337.5,9.583954978418351,12.824260601806639],[1658302200,337.5,8.92525156159401,11.325384243011476],[1658302500,337.5,9.225285973739624,11.990904841899873],[1658302800,337.5,8.700257246351244,11.650484146118165],[1658303100,337.5,7.86708623623848,10.992152575588227],[1658303400,337.5,8.35823769683838,10.825703251361848],[1658303700,337.5,7.70860664691925,10.324580528640748],[1658304000,315,7.108576649951935,10.158020269203186],[1658304300,315,7.3085112343311325,9.98587484855652],[1658304600,315,7.675339417123796,10.160849330425263],[1658304900,315,7.050200301790238,8.99237472448349],[1658305200,315,7.583535516452789,10.158019949197769],[1658305500,315,2.3333409708052875,4.330292527401448],[1658305800,112.5,1.0832148693799974,2.1480208004772665],[1658306100,360,3.150331300354004,4.328409268856049],[1658306400,315,3.5585136231660845,5.1580736062765125],[1658306700,315,3.74164610979557,5.662220540189743],[1658307000,337.5,3.1334352276802067,4.995701951074601],[1658307300,337.5,0.7667818113140761,1.9984468285739425],[1658307600,90,1.2833191974658518,1.9987239265978338],[1658307900,315,1.0250312911480666,1.8318306615233422],[1658308200,67.5,0.5500302205994726,1.332260885089636],[1658308500,0,0.8750314453691244,1.498821451199055],[1658308800,337.5,2.9500548968553546,3.4972693864583975],[1658309100,315,1.6916705823063851,2.165284892714024],[1658309400,315,1.6251040955066682,2.6634135914206505],[1658309700,315,1.3083677473068238,2.1640093777894975],[1658310000,315,0.7917435288518667,1.332039454674721],[1658310300,90,1.975045645785332,2.6636907694458962],[1658310600,90,0,0],[1658310900,112.5,1.1083968956470491,1.8311106226682665],[1658311200,135,0.05833500746190549,0.16650487183332444],[1658311500,202.5,0.008333571899309755,0.16644948422908784],[1658311800,157.5,0.47503768116831785,0.9989186424612999],[1658312100,135,2.0667113041162493,3.1622630223274233],[1658312400,180,2.6084977018356326,3.495550210690498],[1658312700,202.5,2.208415169465542,3.3296550291776663],[1658313000,180,0.9583674627006055,1.6639409395813942],[1658313300,180,0.5500160570263863,0.9989185357928276],[1658313600,225,1.024995383873582,1.9974488516807558],[1658313900,157.5,0.18334465022087099,0.33300979700088507],[1658314200,157.5,0,0],[1658314500,157.5,0.8083035958379508,1.3317071423828604],[1658314800,157.5,1.0000491315975786,2.162516099178791],[1658315100,180,2.4917627391457557,3.4957165601730344],[1658315400,180,1.9667265449643136,2.995702709555626],[1658315700,180,1.4500849062144758,2.164342050087452],[1658316000,180,2.0666474630355838,3.1627618041038517],[1658316300,180,2.983515676593781,4.494745897841454],[1658316600,157.5,2.10837792942524,3.3298209519863127],[1658316900,135,0.9000292085170745,1.6646052708268164],[1658317200,315,1.2667088554620745,1.9980584086656574],[1658317500,292.5,2.358432242202759,2.663911706519127],[1658317800,292.5,1.4412622768700125,2.497241045212746],[1658318100,292.5,1.8253434317111972,2.331067725658417],[1658318400,225,2.850088458013535,3.496437212371826],[1658318700,202.5,3.0418466373205186,3.842251546120644],[1658319000,202.5,1.6416356686770919,2.3307352933645253],[1658319300,180,1.0166744363546374,1.332038761329651],[1658319600,180,1.5000614188551904,2.49757289083004],[1658319900,157.5,0.3250097082465887,1.1652572448134424],[1658320200,157.5,0,0],[1658320500,247.5,0,0],[1658320800,315,2.8000641178965573,3.497379654991627],[1658321100,337.5,5.849998332118989,6.660195940017701],[1658321400,337.5,4.266881080675125,5.659227529525757],[1658321700,337.5,6.5918887570858,8.15326676054001],[1658322000,315,6.658305774688721,7.992735189819337],[1658322300,337.5,5.167014504289627,6.326687467908859],[1658322600,315,3.6917671854734424,4.990338446950912],[1658322900,90,1.5750269144952298,2.498238235425949],[1658323200,112.5,1.391722964963317,1.998336013364792],[1658323500,112.5,0,0],[1658323800,337.5,2.5584122940182685,3.49704660935402],[1658324100,337.5,4.641774093317986,5.828337592124939],[1658324400,315,4.233478701925278,5.328101711082459],[1658324700,315,1.466676872073859,2.6646890530109406],[1658325000,135,4.308567972993851,5.461102575778961],[1658325300,135,3.291770547890663,4.495855516624451],[1658325600,112.5,2.900074744153023,4.164009952664376],[1658325900,112.5,3.5082830128908156,5.328822523283959],[1658326200,135,3.9502766813755037,5.3289339385032655],[1658326500,135,4.2918326497077945,5.496492241501809],[1658326800,135,4.933475884413719,6.1618459575653075],[1658327100,135,5.92514061741829,7.161652001714707],[1658327400,135,4.500135749077797,5.994564512586594],[1658327700,135,4.891815125870705,6.327519055318833],[1658328000,135,5.050235887527466,6.161458111000061],[1658328300,135,5.0498704413414,6.490485547256471],[1658328600,135,5.575333202743531,6.993095975160598],[1658328900,112.5,5.158618628835678,6.827034497499466],[1658329200,135,5.708351561069489,7.493223801040651],[1658329500,135,7.808298681116105,10.482789073371887],[1658329800,112.5,8.08401641497612,10.657035222911837],[1658330100,135,8.116641393899918,10.158851856613161],[1658330400,135,8.208622897577285,10.324580528640748],[1658330700,135,7.200155373477936,9.326771531629563],[1658331000,135,5.316972776031494,7.1615965341091155],[1658331300,112.5,6.875009709596634,8.987451227807998],[1658331600,135,5.825317167663575,8.327464695930482],[1658331900,135,5.7000415537357325,8.991875516033172],[1658332200,135,7.091759298610688,9.992346851444246],[1658332500,112.5,6.433675412273407,9.3267159573555],[1658332800,135,8.12504345612526,9.990460952854159],[1658333100,135,8.02518160572052,9.492000248527528],[1658333400,135,7.267013891887665,9.487021710920335],[1658333700,135,7.5503229009151465,10.316232013988495],[1658334000,135,7.37521231007576,9.986317522716522],[1658334300,135,6.358362990760804,8.994926554346085],[1658334600,135,6.108702657985687,8.826535223913194],[1658334900,157.5,5.6166081414222715,8.487332468748093],[1658335200,112.5,4.933466817593574,7.158111888456345],[1658335500,135,4.050078637433052,6.827866138243675],[1658335800,135,5.575079971790315,8.32198822989464],[1658336100,157.5,7.016926351881028,9.32666102309227],[1658336400,135,5.5417859682083135,8.494635632371905],[1658336700,112.5,5.266803073453904,7.660390897417069],[1658337000,135,6.350247226715089,9.15401330060959],[1658337300,135,5.575178853464128,8.493414811706543],[1658337600,135,5.425082819390297,7.992183073806764],[1658337900,135,4.941823012375832,8.32652142663002],[1658338200,112.5,5.60030759882927,8.82243787455559],[1658338500,157.5,4.491629738426208,6.328296135139466],[1658338800,157.5,3.516764916467667,5.495771109294892],[1658339100,157.5,4.2834093071222314,6.163177820110321],[1658339400,202.5,5.958575530052185,9.324774697828293],[1658339700,202.5,4.225089013242721,6.655885360383988],[1658340000,157.5,6.9835284532070165,10.825703251361848],[1658340300,157.5,6.508508945679665,9.818707538843155],[1658340600,135,5.600518375730514,8.825148747110367],[1658340900,135,6.708527211475373,9.15401148724556],[1658341200,157.5,4.925141930007935,7.3232337235450755],[1658341500,135,5.033479070544243,7.328989554309845],[1658341800,157.5,6.62526606874466,10.159517894554138],[1658342100,157.5,5.316737038707734,8.320378709316254],[1658342400,112.5,5.383450061321259,8.155980726480484],[1658342700,112.5,4.733620821380614,6.994537492895127],[1658343000,135,5.374956210875512,7.993732966709137],[1658343300,135,5.458650854277612,7.827006517791749],[1658343600,157.5,6.733458566832543,9.492444309377671],[1658343900,157.5,5.5501741101980215,8.646285452747346],[1658344200,157.5,7.383330740833283,10.325356648445132],[1658344500,112.5,5.775388589167596,8.659863922595978],[1658344800,157.5,5.174956878733636,8.159738870096207],[1658345100,157.5,5.63340127902031,8.659864135932924],[1658345400,180,5.966850870132447,8.326965380811691],[1658345700,135,4.808437287831307,7.660279855537415],[1658346000,157.5,3.8751246892452245,5.82800457315445],[1658346300,157.5,4.891563814949989,7.161153219938278],[1658346600,112.5,5.67513473212719,8.160792861270906],[1658346900,135,5.850242709589006,8.822663051700593],[1658347200,112.5,4.416658922696113,6.328850597858429],[1658347500,180,3.625167658114434,4.996201212859154],[1658347800,180,3.82514872328043,5.994786863017082],[1658348100,135,5.750122081470489,7.994343643712997],[1658348400,112.5,4.658328826880455,7.3278802021980285],[1658348700,112.5,3.866821882033348,5.829224647140504],[1658349000,157.5,5.183499370002747,7.494218377876282],[1658349300,135,4.283427707433701,6.491373348951339],[1658349600,135,4.7751538977623,7.494218804550172],[1658349900,135,4.625136691689492,6.993539289331437],[1658350200,112.5,5.133460922980309,7.660834638261795],[1658350500,135,3.1667396314382557,4.996145798587799],[1658350800,135,3.4751159981250765,5.829613453722001],[1658351100,112.5,4.325116999793053,5.829446090888977],[1658351400,112.5,4.775207605338097,6.827422770738602],[1658351700,157.5,4.116798913502693,5.991911774349213],[1658352000,180,3.9750819012641907,5.828836160564423],[1658352300,135,3.1417397149205213,5.1627060580253605],[1658352600,157.5,3.408318760752678,5.6624424106121065],[1658352900,112.5,3.8168673830986024,6.161790969967842],[1658353200,135,2.7250481547355654,4.804275617384912],[1658353500,135,4.475134579205513,6.1552625927925115],[1658353800,112.5,2.550051379156113,4.16134745426178],[1658354100,112.5,3.741846859860421,5.4927776719570165],[1658354400,112.5,5.125249797320366,7.1571069647789],[1658354700,112.5,4.10847061252594,5.7079291539192205],[1658355000,135,4.2167544188261035,6.326465917491914],[1658355300,135,4.700110654139519,6.655328124284745],[1658355600,112.5,4.050140398478509,5.6608344900608065],[1658355900,135,3.208381829667091,4.827367634940147],[1658356200,112.5,3.9667795740604403,6.159905604720116],[1658356500,157.5,4.20011147043705,5.658729494428636],[1658356800,135,3.1584239173412327,4.327963714647294],[1658357100,135,3.3834218059778216,5.156838865375519],[1658357400,135,3.0167178119540217,4.494247489404679],[1658357700,180,3.3168746528387074,4.494080659914016],[1658358000,157.5,3.2833589388370514,5.159545684528351],[1658358300,135,2.4500309127330784,3.661888013029099],[1658358900,135,3.5834130135377245,5.2720087082386025],[1658359200,135,2.6917388175606733,4.327907713699341],[1658359500,135,2.4000814805507664,3.659788830828667],[1658359800,112.5,3.450103681397438,5.3259953820943835],[1658360100,157.5,3.7584798880815504,5.326383335328103],[1658360400,112.5,0.9251071821894497,1.997726336377859],[1658360700,112.5,3.516751689577103,4.827866470050812],[1658361000,135,2.791771524190903,3.828781664776802],[1658361300,135,2.2333925256013876,3.495494103074074],[1658361600,135,2.9250855141878134,4.162290563559532],[1658361900,135,3.150102736485005,4.328684100174904],[1658362200,135,3.8916484356164935,5.160322337675095],[1658362500,202.5,2.833311894029379,4.161930117458105],[1658362800,157.5,2.483424624669552,3.3296550291776654],[1658363100,135,1.7834417090892791,3.161599917769432],[1658363400,135,1.5915843664370477,2.9968110349833967],[1658363700,90,1.7168244080960755,3.329211661672592],[1658364000,22.5,1.758372836404294,4.162622649180889],[1658364300,157.5,2.933362747633457,5.4947730924010285],[1658364600,157.5,2.250065651167929,4.326751267457008],[1658364900,337.5,2.775115122240782,5.822308796739579]]",
        "payloadType": "str",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "c8d25a6f5bc9242d"
            ]
        ]
    },
    {
        "id": "22805910fbe385fd",
        "type": "inject",
        "z": "06cd0b06058d537f",
        "name": "md text",
        "props": [
            {
                "p": "text",
                "v": "\"- _Hello_ __!__\\n- This page shows a sample for each type of widget.\\n- It provides a quick overview of what's available.\"",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "be8061669555edeb"
            ]
        ]
    },
    {
        "id": "7eac425176c5f0ab",
        "type": "inject",
        "z": "06cd0b06058d537f",
        "name": "log sample",
        "props": [
            {
                "p": "text",
                "v": "\"7/18/2022,  5:30:12 AM: circuit 1 stopped after 30 minutes\\n7/18/2022,  5:30:13 AM: circuit 2 starting for 30 minutes\\n7/18/2022,  6:00:12 AM: circuit 2 stopped after 30 minutes\\n7/18/2022,  6:00:13 AM: circuit 3 starting for 30 minutes\"",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "b6f62cfad74e1451"
            ]
        ]
    },
    {
        "id": "aadfec47806a1840",
        "type": "fd-label",
        "z": "06cd0b06058d537f",
        "fd_container": "f1c97ab04f25d698",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Label",
        "popup_info": "",
        "label": "Score:",
        "color": "",
        "align": "center",
        "justify": "right",
        "weight": "400",
        "size": "100%",
        "padding": "4px",
        "x": 810,
        "y": 160,
        "wires": []
    },
    {
        "id": "877c4596d3d20239",
        "type": "fd-stat",
        "z": "06cd0b06058d537f",
        "fd_container": "f1c97ab04f25d698",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Stat",
        "popup_info": "",
        "unit": "°F",
        "value": "35",
        "color": "",
        "low_color": "blue",
        "high_color": "pink",
        "low_threshold": "",
        "high_threshold": "",
        "low_regexp": "",
        "high_regexp": "",
        "chip": "false",
        "iso_prefix": "true",
        "zoom": 1,
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "824d3ab624871cf2",
        "type": "fd-label",
        "z": "06cd0b06058d537f",
        "fd_container": "675263a8440a43c7",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "",
        "popup_info": "",
        "label": "Score:",
        "color": "",
        "align": "center",
        "justify": "right",
        "weight": "400",
        "size": "100%",
        "padding": "4px",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "db9f9e18b20f8aaa",
        "type": "fd-stat",
        "z": "06cd0b06058d537f",
        "fd_container": "675263a8440a43c7",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "",
        "popup_info": "",
        "unit": "°F",
        "value": "35",
        "color": "",
        "low_color": "blue",
        "high_color": "pink",
        "low_threshold": "",
        "high_threshold": "",
        "low_regexp": "",
        "high_regexp": "",
        "chip": "false",
        "iso_prefix": "true",
        "zoom": 1,
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "998e7209af470649",
        "type": "inject",
        "z": "06cd0b06058d537f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[[\"fred\",\"23\",101],[\"jack\",\"34\",456]]",
        "payloadType": "json",
        "x": 530,
        "y": 420,
        "wires": [
            [
                "cf38127b0f1242b4"
            ]
        ]
    },
    {
        "id": "99f15a7f02dade6e",
        "type": "function",
        "z": "06cd0b06058d537f",
        "name": "nop",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 305,
        "y": 280,
        "wires": [
            [
                "b9a21c19a0c7c362"
            ]
        ],
        "icon": "node-red/arrow-in.svg",
        "l": false
    },
    {
        "id": "7d71ef01e0c54861",
        "type": "inject",
        "z": "06cd0b06058d537f",
        "name": "",
        "props": [
            {
                "p": "value",
                "v": "[1,2,4,3,7,4,8,5,6,2,9]",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 1.0,
        "topic": "",
        "x": 530,
        "y": 480,
        "wires": [
            [
                "0da53c03d6fb7619"
            ]
        ]
    },
    {
        "id": "5706d648a3e5e7bf",
        "type": "flexdash container",
        "name": "demo all grid",
        "kind": "StdGrid",
        "fd_children": ",681967b1dcbdc45d,9c0c7165cb86de68,c8d25a6f5bc9242d,d0ab9d5688fbd947,d2c133da1a043679,1d235058a33a5e73,a54978c502390e97,b6f62cfad74e1451,be8061669555edeb,be4d9c105d072dd7,7dacfc1a4db7e118,f76e1b7cb09977f8,cf38127b0f1242b4,0da53c03d6fb7619,b9a21c19a0c7c362,5535e621ade0e3e0,f1c97ab04f25d698,675263a8440a43c7",
        "title": "",
        "tab": "e8d66b51b7d3600c",
        "min_cols": 4,
        "max_cols": "10",
        "parent": "",
        "solid": true,
        "cols": "2",
        "rows": "1"
    },
    {
        "id": "f1c97ab04f25d698",
        "type": "flexdash container",
        "name": "solid panel",
        "kind": "Panel",
        "fd_children": ",aadfec47806a1840,877c4596d3d20239",
        "title": "solid panel",
        "tab": "",
        "min_cols": "1",
        "max_cols": "20",
        "parent": "5706d648a3e5e7bf",
        "solid": true,
        "cols": "1",
        "rows": "1"
    },
    {
        "id": "675263a8440a43c7",
        "type": "flexdash container",
        "name": "solid-panel-2",
        "kind": "Panel",
        "fd_children": ",824d3ab624871cf2,db9f9e18b20f8aaa",
        "title": "",
        "tab": "",
        "min_cols": "1",
        "max_cols": "20",
        "parent": "5706d648a3e5e7bf",
        "solid": true,
        "cols": "1",
        "rows": "1"
    },
    {
        "id": "e8d66b51b7d3600c",
        "type": "flexdash tab",
        "name": "",
        "icon": "mdi-rocket",
        "title": "demo-all",
        "fd_children": ",5706d648a3e5e7bf",
        "fd": "e8f5aea52ab49500"
    }
]
