examples/stat-gauge-datetime.json
[
    {
        "id": "0b823de9a3746d8e",
        "type": "inject",
        "z": "ed64e1e7f007f71c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "72",
        "payloadType": "num",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "cae537b475065dc8",
                "07e13603525f67f5"
            ]
        ]
    },
    {
        "id": "07e13603525f67f5",
        "type": "change",
        "z": "ed64e1e7f007f71c",
        "name": "+10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload + 10",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 180,
        "wires": [
            [
                "702ad048869ee8ff"
            ]
        ]
    },
    {
        "id": "a9e60bb700a91522",
        "type": "inject",
        "z": "ed64e1e7f007f71c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "0.0015",
        "payloadType": "num",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "1eb4f830f88a0262",
                "ae1211d812dc01ab",
                "54f0fc7e08fa3686",
                "b4f490bf7a5a7fd3"
            ]
        ]
    },
    {
        "id": "cae537b475065dc8",
        "type": "fd-stat",
        "z": "ed64e1e7f007f71c",
        "fd_container": "268989bc4b3b4aed",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": "1",
        "name": "kitchen stat",
        "title": "Kitchen",
        "unit": "°F",
        "value": "",
        "color": "",
        "low_color": "",
        "high_color": "",
        "low_threshold": "",
        "high_threshold": "",
        "low_regexp": "",
        "high_regexp": "",
        "chip": "false",
        "iso_prefix": "",
        "zoom": "",
        "x": 370,
        "y": 120,
        "wires": []
    },
    {
        "id": "702ad048869ee8ff",
        "type": "fd-stat",
        "z": "ed64e1e7f007f71c",
        "fd_container": "268989bc4b3b4aed",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": "1",
        "name": "bathroom stat",
        "title": "Bathroom",
        "unit": "°F",
        "value": "",
        "color": "",
        "low_color": "",
        "high_color": "#F44336",
        "low_threshold": "",
        "high_threshold": "75",
        "low_regexp": "",
        "high_regexp": "",
        "chip": "false",
        "iso_prefix": "",
        "zoom": "1.3",
        "x": 380,
        "y": 180,
        "wires": []
    },
    {
        "id": "1eb4f830f88a0262",
        "type": "fd-stat",
        "z": "ed64e1e7f007f71c",
        "fd_container": "268989bc4b3b4aed",
        "fd_cols": "2",
        "fd_rows": "2",
        "fd_array": false,
        "fd_array_max": "1",
        "name": "power stat",
        "title": "Power",
        "unit": "W",
        "value": "",
        "color": "",
        "low_color": "",
        "high_color": "#F44336",
        "low_threshold": "",
        "high_threshold": "75",
        "low_regexp": "",
        "high_regexp": "",
        "chip": "false",
        "iso_prefix": "true",
        "zoom": "",
        "x": 370,
        "y": 240,
        "wires": []
    },
    {
        "id": "ae1211d812dc01ab",
        "type": "fd-stat",
        "z": "ed64e1e7f007f71c",
        "fd_container": "268989bc4b3b4aed",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": "1",
        "name": "power stat",
        "title": "",
        "unit": "W",
        "value": "",
        "color": "",
        "low_color": "",
        "high_color": "#F44336",
        "low_threshold": "",
        "high_threshold": "75",
        "low_regexp": "",
        "high_regexp": "",
        "chip": "false",
        "iso_prefix": "true",
        "zoom": "1",
        "x": 370,
        "y": 300,
        "wires": []
    },
    {
        "id": "54f0fc7e08fa3686",
        "type": "fd-stat",
        "z": "ed64e1e7f007f71c",
        "fd_container": "268989bc4b3b4aed",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": "1",
        "name": "power stat",
        "title": "",
        "unit": "W",
        "value": "",
        "color": "",
        "low_color": "",
        "high_color": "#F44336",
        "low_threshold": "",
        "high_threshold": "75",
        "low_regexp": "",
        "high_regexp": "",
        "chip": "false",
        "iso_prefix": "true",
        "zoom": "1.5",
        "x": 370,
        "y": 360,
        "wires": []
    },
    {
        "id": "b4f490bf7a5a7fd3",
        "type": "fd-stat",
        "z": "ed64e1e7f007f71c",
        "fd_container": "268989bc4b3b4aed",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": "1",
        "name": "power stat",
        "title": "",
        "unit": "W",
        "value": "",
        "color": "",
        "low_color": "#2196F3",
        "high_color": "#F44336",
        "low_threshold": "2",
        "high_threshold": "",
        "low_regexp": "",
        "high_regexp": "",
        "chip": "true",
        "iso_prefix": "false",
        "zoom": "1",
        "x": 370,
        "y": 420,
        "wires": []
    },
    {
        "id": "bd323cb4a0f47743",
        "type": "fd-date-time",
        "z": "ed64e1e7f007f71c",
        "fd_container": "268989bc4b3b4aed",
        "fd_cols": "2",
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": "1",
        "name": "flow start",
        "title": "Flow started",
        "value": "",
        "color": "",
        "start_mode": "2",
        "zoom": 100,
        "low_threshold": "30",
        "low_color": "#2196F3",
        "high_threshold": "120",
        "high_color": "#FFC107",
        "chip": "false",
        "units": [
            "now",
            "sec",
            "min",
            "hr",
            "days",
            "weeks",
            "months"
        ],
        "x": 900,
        "y": 120,
        "wires": []
    },
    {
        "id": "e96679e0261fe606",
        "type": "inject",
        "z": "ed64e1e7f007f71c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 120,
        "wires": [
            [
                "bd323cb4a0f47743"
            ]
        ]
    },
    {
        "id": "af172967cc3af4c7",
        "type": "fd-date-time",
        "z": "ed64e1e7f007f71c",
        "fd_container": "268989bc4b3b4aed",
        "fd_cols": "2",
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": "1",
        "name": "last tick",
        "title": "Last Tick",
        "value": "",
        "color": "",
        "start_mode": "2",
        "zoom": 100,
        "low_threshold": "60",
        "low_color": "#4CAF50",
        "high_threshold": "240",
        "high_color": "#F44336",
        "chip": "false",
        "units": [
            "now",
            "sec",
            "min",
            "hr",
            "days",
            "weeks",
            "months"
        ],
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "7213703455311d9f",
        "type": "inject",
        "z": "ed64e1e7f007f71c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "*/5 0 * * *",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 180,
        "wires": [
            [
                "af172967cc3af4c7"
            ]
        ]
    },
    {
        "id": "61451685fc97bdff",
        "type": "fd-gauge",
        "z": "ed64e1e7f007f71c",
        "fd_container": "268989bc4b3b4aed",
        "fd_cols": "2",
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": "1",
        "name": "",
        "title": "",
        "value": "",
        "unit": "RPM",
        "arc": 90,
        "min": 0,
        "max": "5000",
        "color": "#4CAF50",
        "low_color": "#2196F3",
        "high_color": "#E91E63",
        "low_threshold": "1000",
        "high_threshold": "4000",
        "base_color": "lightgrey",
        "needle_color": "white",
        "radius": "80",
        "stretch": "false",
        "x": 890,
        "y": 320,
        "wires": []
    },
    {
        "id": "6c573c959096abd0",
        "type": "inject",
        "z": "ed64e1e7f007f71c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 240,
        "wires": [
            [
                "efc62871fd1101a1",
                "4ac723ed86afdd1b"
            ]
        ]
    },
    {
        "id": "efc62871fd1101a1",
        "type": "function",
        "z": "ed64e1e7f007f71c",
        "name": "",
        "func": "let val = context.get(\"val\") || 0\nval += 100\nif (val > 5000) val = 100\ncontext.set('val', val)\nreturn {payload: val}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 320,
        "wires": [
            [
                "61451685fc97bdff",
                "dada68e818f362aa",
                "ff9e7e6607610280"
            ]
        ]
    },
    {
        "id": "4ac723ed86afdd1b",
        "type": "delay",
        "z": "ed64e1e7f007f71c",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "efc62871fd1101a1"
            ]
        ]
    },
    {
        "id": "dada68e818f362aa",
        "type": "fd-gauge",
        "z": "ed64e1e7f007f71c",
        "fd_container": "268989bc4b3b4aed",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": "1",
        "name": "",
        "title": "RPM",
        "value": "",
        "unit": "",
        "arc": "180",
        "min": 0,
        "max": "5000",
        "color": "#4CAF50",
        "low_color": "#2196F3",
        "high_color": "#E91E63",
        "low_threshold": "1000",
        "high_threshold": "4000",
        "base_color": "lightgrey",
        "needle_color": "white",
        "radius": 70,
        "stretch": "false",
        "x": 890,
        "y": 360,
        "wires": []
    },
    {
        "id": "5083f5fbc7a054cb",
        "type": "fd-gauge",
        "z": "ed64e1e7f007f71c",
        "fd_container": "268989bc4b3b4aed",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": "1",
        "name": "",
        "title": "",
        "value": "100",
        "unit": "",
        "arc": "60",
        "min": 0,
        "max": "5000",
        "color": "#4CAF50",
        "low_color": "#2196F3",
        "high_color": "#E91E63",
        "low_threshold": "1000",
        "high_threshold": "4000",
        "base_color": "lightgrey",
        "needle_color": "white",
        "radius": 70,
        "stretch": "false",
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "ff9e7e6607610280",
        "type": "change",
        "z": "ed64e1e7f007f71c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "max",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 400,
        "wires": [
            [
                "5083f5fbc7a054cb",
                "d2d6032f0a866ebe"
            ]
        ]
    },
    {
        "id": "d2d6032f0a866ebe",
        "type": "debug",
        "z": "ed64e1e7f007f71c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 480,
        "wires": []
    },
    {
        "id": "268989bc4b3b4aed",
        "type": "flexdash container",
        "name": "Stat-Gauge Demo",
        "kind": "StdGrid",
        "fd_children": ",cae537b475065dc8,702ad048869ee8ff,1eb4f830f88a0262,ae1211d812dc01ab,54f0fc7e08fa3686,b4f490bf7a5a7fd3,bd323cb4a0f47743,af172967cc3af4c7,61451685fc97bdff,dada68e818f362aa,5083f5fbc7a054cb,96021b179f0d40b9,de1d3aac89add6e5,f9101518ce96ccc9,e8668ae56d27875b",
        "title": "",
        "tab": "ace5f0e8a8666233",
        "min_cols": "1",
        "max_cols": "20",
        "parent": "",
        "solid": false,
        "cols": "1",
        "rows": "1"
    },
    {
        "id": "ace5f0e8a8666233",
        "type": "flexdash tab",
        "name": "stat-gauge demo",
        "icon": "mdi-gauge",
        "title": "",
        "fd_children": ",268989bc4b3b4aed",
        "fd": "e8f5aea52ab49500"
    }
]
