examples/subflow.json
[
    {
        "id": "96d0259206356071",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 160,
                "y": 40,
                "wires": [
                    {
                        "id": "ee797777226f85f7"
                    },
                    {
                        "id": "ad7545cc9c3c51ca"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "ee797777226f85f7",
        "type": "gauge",
        "z": "96d0259206356071",
        "fd_container": "12a3ea6ea0334c41",
        "fd_cols": "2",
        "fd_rows": "2",
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Gauge",
        "value": "",
        "unit": "",
        "arc": 90,
        "min": 0,
        "max": 100,
        "color": "green",
        "low_color": "blue",
        "high_color": "pink",
        "low_threshold": "",
        "high_threshold": "",
        "base_color": "lightgrey",
        "needle_color": "white",
        "radius": 70,
        "stretch": "false",
        "x": 290,
        "y": 40,
        "wires": []
    },
    {
        "id": "ad7545cc9c3c51ca",
        "type": "stat",
        "z": "96d0259206356071",
        "fd_container": "12a3ea6ea0334c41",
        "fd_cols": "2",
        "fd_rows": "2",
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Stat",
        "unit": "",
        "value": "",
        "color": "",
        "low_color": "blue",
        "high_color": "pink",
        "low_threshold": "",
        "high_threshold": "",
        "low_regexp": "",
        "high_regexp": "",
        "chip": "false",
        "iso_prefix": "true",
        "zoom": 1,
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "12a3ea6ea0334c41",
        "type": "flexdash container",
        "z": "96d0259206356071",
        "name": "StatGaugePanel",
        "kind": "SubflowPanel",
        "fd_children": ",ee797777226f85f7,ad7545cc9c3c51ca",
        "title": "",
        "tab": "",
        "min_cols": "1",
        "max_cols": "20",
        "parent": "",
        "solid": true,
        "cols": "2",
        "rows": "1"
    },
    {
        "id": "1c85227bbc14e51f",
        "type": "subflow:96d0259206356071",
        "z": "1543d308b342690a",
        "name": "SF instance 1",
        "env": [
            {
                "name": "fd_container",
                "value": "69c2e3f5798c3475",
                "type": "str"
            },
            {
                "name": "fd_rows",
                "value": "2",
                "type": "num"
            },
            {
                "name": "fd_cols",
                "value": "2",
                "type": "num"
            },
            {
                "name": "flexdash_grid",
                "value": "d8b26219011823a8",
                "type": "str"
            }
        ],
        "flexdash_grid": "d8b26219011823a8",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "81c8cf69142785ba",
        "type": "subflow:96d0259206356071",
        "z": "1543d308b342690a",
        "name": "SF instance 2",
        "env": [
            {
                "name": "fd_container",
                "value": "69c2e3f5798c3475",
                "type": "str"
            },
            {
                "name": "fd_rows",
                "value": "2",
                "type": "num"
            },
            {
                "name": "fd_cols",
                "value": "2",
                "type": "num"
            },
            {
                "name": "flexdash_grid",
                "value": "d8b26219011823a8",
                "type": "str"
            }
        ],
        "flexdash_grid": "d8b26219011823a8",
        "x": 320,
        "y": 240,
        "wires": []
    },
    {
        "id": "81ba0520e6dcbebb",
        "type": "change",
        "z": "1543d308b342690a",
        "name": "76",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "76",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "1c85227bbc14e51f",
                "38c8f0d0cc441e4a"
            ]
        ]
    },
    {
        "id": "38c8f0d0cc441e4a",
        "type": "change",
        "z": "1543d308b342690a",
        "name": "37",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "37",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "81c8cf69142785ba",
                "2d8674a80fb0e380"
            ]
        ]
    },
    {
        "id": "61dd3827e4796af6",
        "type": "subflow:96d0259206356071",
        "z": "1543d308b342690a",
        "name": "SF instance 3",
        "env": [
            {
                "name": "fd_container",
                "value": "6859e192230ad74e",
                "type": "str"
            },
            {
                "name": "fd_rows",
                "value": "2",
                "type": "num"
            },
            {
                "name": "fd_cols",
                "value": "2",
                "type": "num"
            },
            {
                "name": "flexdash_grid",
                "value": "81f312cf3ae5e1d3",
                "type": "str"
            }
        ],
        "flexdash_grid": "81f312cf3ae5e1d3",
        "x": 320,
        "y": 300,
        "wires": []
    },
    {
        "id": "2d8674a80fb0e380",
        "type": "change",
        "z": "1543d308b342690a",
        "name": "101",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "101",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 110,
        "y": 300,
        "wires": [
            [
                "61dd3827e4796af6"
            ]
        ]
    },
    {
        "id": "db8055fbcbf5a7ce",
        "type": "markdown",
        "z": "1543d308b342690a",
        "fd_container": "81f312cf3ae5e1d3",
        "fd_cols": "2",
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "",
        "popup_info": "",
        "text": "## This is in a second grid!",
        "x": 310,
        "y": 360,
        "wires": []
    },
    {
        "id": "602912de6de5118e",
        "type": "date-time",
        "z": "1543d308b342690a",
        "fd_container": "69c2e3f5798c3475",
        "fd_cols": "2",
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Flow started at",
        "value": "",
        "color": "",
        "start_mode": 0,
        "zoom": 100,
        "low_threshold": "",
        "low_color": "blue",
        "high_threshold": "",
        "high_color": "pink",
        "chip": "false",
        "units": [
            "now",
            "sec",
            "min",
            "hr",
            "days",
            "weeks",
            "months"
        ],
        "x": 300,
        "y": 120,
        "wires": []
    },
    {
        "id": "428d9a1243d8730e",
        "type": "inject",
        "z": "1543d308b342690a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "602912de6de5118e",
                "81ba0520e6dcbebb"
            ]
        ]
    },
    {
        "id": "d8b26219011823a8",
        "type": "flexdash container",
        "name": "grid1",
        "kind": "StdGrid",
        "fd_children": ",97e34cb72c2f36bd,55072aa954d8950a,815c9034277a4f22,1c85227bbc14e51f-12a3ea6ea0334c41",
        "title": "Grid 1",
        "tab": "fef6c0f6d48841d6",
        "min_cols": "1",
        "max_cols": "20",
        "parent": "",
        "solid": false,
        "cols": "1",
        "rows": "1"
    },
    {
        "id": "81f312cf3ae5e1d3",
        "type": "flexdash container",
        "name": "grid2",
        "kind": "StdGrid",
        "fd_children": ",db8055fbcbf5a7ce,61dd3827e4796af6-12a3ea6ea0334c41",
        "title": "Grid 2",
        "tab": "fef6c0f6d48841d6",
        "min_cols": "1",
        "max_cols": "20",
        "parent": "",
        "solid": false,
        "cols": "1",
        "rows": "1"
    },
    {
        "id": "69c2e3f5798c3475",
        "type": "flexdash container",
        "name": "Demo grid",
        "kind": "StdGrid",
        "fd_children": ",602912de6de5118e",
        "title": "",
        "tab": "fef6c0f6d48841d6",
        "min_cols": "1",
        "max_cols": "6",
        "parent": "",
        "solid": false,
        "cols": "1",
        "rows": "1"
    }
]
