examples/time-wind-plots.json
[
    {
        "id": "02a8193ebdb37b8f",
        "type": "time-plot",
        "z": "daf85507baa384b2",
        "fd_container": "28d1859702cdf729",
        "fd_cols": "3",
        "fd_rows": "3",
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Waves",
        "popup_info": "",
        "data": "",
        "labels": [
            "sin",
            "cos"
        ],
        "colors": [],
        "axes": [],
        "widths": [],
        "span_gaps": [],
        "left_unit": "",
        "right_unit": "",
        "left_min": "",
        "left_max": "",
        "left_decimals": 1,
        "right_min": "",
        "right_max": "",
        "right_decimals": 1,
        "x": 460,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d2dbe97c44f6fb5a",
        "type": "wind-plot",
        "z": "daf85507baa384b2",
        "fd_container": "28d1859702cdf729",
        "fd_cols": "3",
        "fd_rows": "3",
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Wind Plot",
        "popup_info": "",
        "data": "",
        "colors": [],
        "widths": [],
        "unit": "mph",
        "x": 460,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d2a94db941e6b041",
        "type": "inject",
        "z": "daf85507baa384b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "f8ec3cc65353506e",
                "353dee4a0a1f7508"
            ]
        ]
    },
    {
        "id": "f8ec3cc65353506e",
        "type": "function",
        "z": "daf85507baa384b2",
        "name": "gen waves",
        "func": "let now = msg.payload\nlet s = Math.sin(now/10000)\nlet c = 1.2*Math.cos(now/13000)\nreturn { payload: [now/1000, s, c], labels: [\"sin\", \"cos\"] }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 120,
        "wires": [
            [
                "02a8193ebdb37b8f"
            ]
        ]
    },
    {
        "id": "353dee4a0a1f7508",
        "type": "function",
        "z": "daf85507baa384b2",
        "name": "gen wind",
        "func": "let now = msg.payload/1000\nlet w = 8+6*Math.sin(now/46)\nlet g = w + 2*(1+Math.sin(now/76))\nlet d = (now/13) % 360\nreturn { payload: [now, d, w, g] }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 200,
        "wires": [
            [
                "d2dbe97c44f6fb5a"
            ]
        ]
    },
    {
        "id": "28d1859702cdf729",
        "type": "flexdash container",
        "name": "grid6",
        "kind": "StdGrid",
        "fd_children": ",02a8193ebdb37b8f,d2dbe97c44f6fb5a",
        "title": "",
        "tab": "9f23b0158f8280e3",
        "min_cols": "1",
        "max_cols": "20",
        "parent": "",
        "solid": false,
        "cols": "1",
        "rows": "1"
    },
    {
        "id": "9f23b0158f8280e3",
        "type": "flexdash tab",
        "name": "chart",
        "icon": "mdi-chart-line",
        "title": "",
        "fd_children": ",28d1859702cdf729",
        "fd": "6e90ea4ca2351464"
    }
]
