examples/toggle-sparkline.json
[
    {
        "id": "903334f637326ef0",
        "type": "toggle",
        "z": "f186e5599d5c3362",
        "fd_container": "ef842956920fe694",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "on/off",
        "title": "run",
        "value": "",
        "enabled": "true",
        "color": "primary",
        "on_value": "ON",
        "off_value": "OFF",
        "show_value": true,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "3b5c7f53a41bb6dc",
                "fa84b4dea4c39af6",
                "1e6c7a273cda476c"
            ]
        ]
    },
    {
        "id": "36a95def59e7267b",
        "type": "spark-line",
        "z": "f186e5599d5c3362",
        "fd_container": "ef842956920fe694",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "",
        "title": "Spark Line",
        "value": 0,
        "color": "blue",
        "fill_color": "",
        "text_color": "",
        "show_value": "false",
        "unit": "",
        "x": 500,
        "y": 200,
        "wires": []
    },
    {
        "id": "ccddd1b07b5cff3c",
        "type": "inject",
        "z": "f186e5599d5c3362",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "5ab4e968a57ee4d4"
            ]
        ]
    },
    {
        "id": "5ab4e968a57ee4d4",
        "type": "function",
        "z": "f186e5599d5c3362",
        "name": "",
        "func": "let enable = flow.get('enable')\nif (enable == \"ON\") {\n    return { payload: msg.payload%5 }\n} else {\n    return { payload: 0 }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 200,
        "wires": [
            [
                "36a95def59e7267b"
            ]
        ]
    },
    {
        "id": "3b5c7f53a41bb6dc",
        "type": "change",
        "z": "f186e5599d5c3362",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enable",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "fa84b4dea4c39af6",
        "type": "debug",
        "z": "f186e5599d5c3362",
        "name": "on/off switch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 160,
        "wires": []
    },
    {
        "id": "1e6c7a273cda476c",
        "type": "function",
        "z": "f186e5599d5c3362",
        "name": " ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 175,
        "y": 160,
        "wires": [
            [
                "903334f637326ef0"
            ]
        ],
        "icon": "node-red/arrow-in.svg",
        "l": false
    },
    {
        "id": "e4219d74214e5d9d",
        "type": "comment",
        "z": "f186e5599d5c3362",
        "name": "Toggle and Sparkline",
        "info": "The sparkline displays a random time series, updated every 2 seconds as long as the toggle is ON.",
        "x": 180,
        "y": 60,
        "wires": []
    },
    {
        "id": "ef842956920fe694",
        "type": "flexdash container",
        "name": "toggle",
        "kind": "StdGrid",
        "fd_children": ",903334f637326ef0,36a95def59e7267b",
        "title": "",
        "tab": "c35ee88eedbcad67",
        "min_cols": "1",
        "max_cols": "20",
        "parent": "",
        "solid": false,
        "cols": "1",
        "rows": "1"
    },
    {
        "id": "c35ee88eedbcad67",
        "type": "flexdash tab",
        "name": "toggle",
        "icon": "mdi-toggle-switch",
        "title": "",
        "fd_children": ",ef842956920fe694",
        "fd": "83b54c3f9ee9394a"
    }
]
